/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {

  /* Шрифты */
  --font-inter: 'Inter', 'Arial', sans-serif;
  --font-press-start-2p: 'PressStart2P', 'Arial', sans-serif;

  /* Размеры шрифтов */
  --font-size-small: 14px;
  --font-size-medium: 18px;

  /* Межстрочные интервалы */
  --line-height-small: 100%;
  --line-height-medium: 120%;
  
  /* Веса вариативного шрифта */
  --text-weight-regular: 400;
  --text-weight-bold: 700;

  /* Цвета */
  --color-white: #fff;
  --color-black: #000;

  /* Фоны */
  --page-background: 
    repeating-linear-gradient(to right, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);

  /* Размеры */
  --border-card: 2px solid var(--color-black);
}

